<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <h1>Notitas</h1>
    <ul>
        {% for nota in object_list %}
            <li> {{ nota.title }} --- {{ nota.description }} ---{{ nota.date }} <a href="{% url 'editar_nota' nota.id %}">Editar</a> <a href="{% url 'eliminar_nota' nota.id %}">Borrar</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'crear_nota'%}">Nueva Nota</a>
</body>
</html>